/* default settings */
body{
    margin:0;
}
*{
    box-sizing: border-box;
}
a:hover{
    text-decoration: none!important;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6
{
    margin-top:0;
}

/* header */
#header{
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-09-2018/online_resume-demo_Free/1471767518/web/images/1.jpg");
    background-size: 100% 100%;
    height:90vh;
}
#topbar{
    padding-top:8px;
}
#mainNav{
    width:50%;
}
#mainNav ul li a{
    display: block;
    padding:12px 20px;
    background-color: #1EC5CA;
    color:#fff;
    border-radius: 20px ;
    font-size: 18px;
    box-shadow:5px 5px 20px #000 ;
    font-weight: 600;
}
#mainNav ul li a:hover{
    text-decoration: none;
    color:#FF3F4D;
}
#mainNav .active a{
    color:#FF3F4D;
}
#header .logo a{
    font-family: 'Pacifico';
    color:#fff;
    font-size: 35px;
    text-shadow: 4px 4px 5px #000;
}

#introduction .work-profile{
    font-weight:400;
    font-size: 25px;
}
#introduction span{
display: block;
}   
#introduction .Name1{
    font-weight: 800;
    font-size: 50px;
    color:#fff;
    text-shadow: 4px 4px 5px #000;


}
#introduction .Name2{
    color:#FF3F4D;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 4px 4px 5px #000;


}
#introduction .introCaption
{
    color:#fff;
    margin-top:20px;
}
#download,.hire{
    display: inline-block;
    /* font-weight: 600; */
    font-size: 18px;
    border-radius: 25px;
    margin:40px 10px 0px 0px;
}
#download:hover{
    background-color:#FF3F4D;
    color:#fff;
}
#download{
    background-color: #fff;
    color:#000;
    padding:10px 18px;

}
.hire{
    background-color:#FF3F4D;
    color:#fff;
    padding:10px 50px;
    
}
.hire:hover{
    background-color: #000;
    color:#fff;
}

/* section- about */
#aboutSection{
    padding:100px 0;
}
#aboutSection .about{
    padding:0px 5px 0px 70px;
}
#aboutSection .profilePic{
background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-09-2018/online_resume-demo_Free/1471767518/web/images/about.jpg");
/* background-size: 100% 100%; */
/* height:50vh; */
background-size: cover;
}
#aboutSection .about span{
    color:#1ccacd;
    font-weight: 600;

}
#aboutSection .about h3{
    font-size: 35px;
}
#aboutSection .about p{
    color:#999;
    line-height: 1.8;
    letter-spacing: 3px;

}
/* Service section` */
#Services{
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/17-09-2018/online_resume-demo_Free/1471767518/web/images/bg.jpg");
    background-size:cover;
    padding:100px 0;
}
#Services .service-logo a{
display: inline-block;
background-color: #fff;
padding: 30px;
border-radius: 50%;
pointer-events: none;

}

#Services .service-logo i{
    color:#ff3f4d;
    font-size: 40px;
} 
#Services .serviceinfo h3{
color:#fff;
/* font-size: 30px; */
font-weight: 600;
letter-spacing: 1px;
}
#Services .serviceinfo p{
color:#eee;
line-height: 2;
letter-spacing: 2px;
margin-top:20px;
}
#Services .service:hover i{
    color:#000;
}