body{
    margin:0;
}
*{
    box-sizing: border-box;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
}
a:hover{
    text-decoration: none!important;
}
#songsList li{
    border:1px solid #000;
    padding:10px 5px;
    
}
#songsList img{
    height:200px;
}
img,span{
    pointer-events: none;
}
#slider{
    width:70%;
}
.range span{
    margin:0px 5px;
}

#playList li{
padding:5px;
margin:5px;
}
#playList span{
    width:180px;
    margin:5px;
    padding:5px;
    display: inline-block;
}

.playlistsongs{
    height:700px;
    overflow-y: scroll;
    position: fixed;
    top:140px;
}
#playList i{
    pointer-events: none;
}